@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background: #E3E4DB;
	font-family: 'Raleway', sans-serif;
}



/*    General class styles      */

/* Overall styles for the two labels*/
.labels {
	font-size: 60px;
	width: 500px;
	padding-left: 20px;
	margin-top: 30px;
}
/* Overall styles for the number parts of the two clocks*/
.digits, .clockChange {
	font-size: 50px;
	width: 400px;
	height: 100px;
	line-height: 100px;
}

/* Changes while clocks are running */

.clockChange {
	width: 500px;
}

/* puts a margin on the digits*/
.progressBar > p {
	margin-left: 30px;
}
/* Overall styles for arrows */
.arrows {
	width: 100px;
}
/* Style for arrow img */
.arrows > img {
	display: block;
	width: 50px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}




/*    Specific id styles      */


/* Pomodoro */

/* Style specific to the pomodoro label*/
#pomLabel {
	background: #A6EBC9; 
}
/* Style specific to the numbers for the break clock*/
#pomNumbers {
	background: #bfefd8;
}

/* Style specific to the pomodoro arrows*/
#pomArrows {
	background: #d6f5e6;
}

/* Progress bar */
#pomProgress {
	background: #ccb3ff;
	margin-left: 0px;
	width: 0%;
}

#breakProgress {
	background: #bfefd8;
	margin-left: 0px;
	width: 0%;
}


/* Break */

/* Style specific to the break label*/
#breakLabel {
	background: #bb99ff;
}
/* Style specific to the numbers for the break clock*/
#breakNumbers {
	background: #ccb3ff;
}
#breakArrows {
	background: #dcccff;
}


/* Start/reset button */

#startClocks {
	margin-top: 20px;
	background: #49C6E5;
	cursor: pointer;
	border-radius: 5px;
	width: 500px;
	height: 80px;
	padding-left: 20px;
	line-height: 80px;
}

/* Tagline with author and Github links */
#tagline {
	font-size: 15px;
	display: inline-block;
	margin-top: 20px;

}


#tomatoes {
	margin-top: 35px;
	width: 500px;
}

#tomatoes > img {
	margin-right: 15px;
	width: 50px;
}


@media (max-device-width: 775px) { 

/* Overall styles for the two labels*/
.labels {
	font-size: 50px;
	width: 100%;
}
/* Overall styles for the number parts of the two clocks*/
.digits {
	font-size: 40px;
	width: 50%;
}
/* Overall styles for arrows */
.arrows {
	width: 50%;
}

#startClocks {
	width: 100%;
	height: 150px;
	text-align: center;
	line-height: 150px;

}

#tomatoes {
	margin-left;
}








 }


